@font-face {
  font-family: "Myriad Pro Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local(MYRIADPRO-BOLDCOND), url("MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local(MYRIADPRO-COND), url("MYRIADPRO-COND.woff") format("woff");
}
@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local(MYRIADPRO-REGULAR), url("MYRIADPRO-REGULAR.woff") format("woff");
}

html {
  font-size: 20px;
  font-family: "Myriad Pro Bold Condensed";
}
body {
  margin: 0;
  background-size: cover;
  background-position: center center;
}
#logo {
  width: 53%;
  margin-left: 2%;
}

#navbar {
  display: flex;
  justify-content: space-around;
  width: 75%;
  padding: 0.5%;
  border-radius: 35px;
  background-color: #3b378c;
  margin-top: -14.7%;
  margin-left: 20%;
  margin-bottom: 2%;
}

#navbar li {
  list-style: none;
  display: flex;
  color: white;
  font-family: "Myriad Pro Bold Condensed";
  font-size: 1vw;
}

#header-container h1,
#header-container h2 {
  position: relative;
  text-align: center;
  left: 23%;
  color: white;
  background-color: #3b378c;
  border-radius: 35px;
  font-family: "Myriad Pro Condensed";
}

#header-container h1 {
  font-size: 4vw;
  width: 70%;
  margin-bottom: -0.5%;
  margin-top: -0.1%;
}

#header-container h2 {
  font-size: 2.4vw;
  width: 41%;
  left: 34%;
}

#upper-container {
  padding-top: 1%;
}

nav {
  position: relative;
}
#line {
  height: 5px;
  width: 14%;
  background-color: #3b378c;
  left: 2.5%;

  position: relative;
  border-radius: 35px;
}

#aside-links ul li {
  list-style: none;
  margin-top: 20%;
}
#aside-links ul li img {
  width: 70%;
  left: 8%;
  position: relative;
}

#middle-container {
  display: grid;
  grid-template-columns: 19% 81%;
}
#footer {
  width: 100%;
  height: 100%;
  background-color: #3b378c;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 2vw;
}
#contact-information {
  font-family: "Myriad Pro Regular";
  font-size: 1vw;
}
#copyright {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #322f67;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 1vw;
}
#contact-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.contact-window {
  background-color: #d9d9d9;
  height: 40vw;
  width: 50vw;
  position: absolute;
  top: 10%;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
}

.contact-inputs {
  height: 2vw;
  font-size: 1.5vw;
  margin: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 30px;
  padding: 1vw;
  border: solid black 1px;
}

#contact-title {
  font-size: 3vw;

  margin-bottom: 6vw;
  color: #3b378c;
}
#closeButton {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 45vw;
  font-size: 3vw;
  color: #3b378c;
}
#email-holder {
  width: 43vw;
}
#contact-textarea {
  width: 43vw;
  height: 10vw;
  resize: none;
  font-family: "Myriad Pro Regular";
}
#form {
  width: 100%;
  height: 90%;
}
#submit-button {
  background-color: #3b378c;
  color: white;
  font-family: "Myriad Pro Bold Condensed";
  border: none;
  padding: 1vw;
  width: 15vw;
  border-radius: 30px;
  font-size: 1.5vw;
}

#contact-button:link {
  color: white;
  text-decoration: none;
}
#contact-button:visited {
  color: white;
  text-decoration: none;
}
.links-window {
  background-color: #d9d9d9;
  height: 40vw;
  width: 50vw;
  position: fixed;
  top: 10%;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}
.links-window-container {
  display: flex;
  justify-content: center;
}
.fb-link a img {
  position: absolute;
  left: -2vw;
  width: 30vw;
  top: 10vw;
  border-radius: 35px;
}
#links-title {
  position: absolute;
  top: 2.5vw;
  font-size: 3vw;
  color: #3b378c;
}
#website {
  position: absolute;
  left: 27vw;
  width: 20.5vw;
  height: 20.5vw;
  top: 11vw;
  border-radius: 35px;
}
#linkCloseButton {
  top: 2vw;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 45vw;
  font-size: 3vw;
  color: #3b378c;
}
.links-window {
  opacity: 0;
  visibility: hidden;
}
.jawor-links-window {
  background-color: #d9d9d9;
  height: 40vw;
  width: 50vw;
  position: fixed;
  top: 10%;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
#JaworlinkCloseButton {
  top: 2vw;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 45vw;
  font-size: 3vw;
  color: #3b378c;
}
.bolkow-links-window {
  background-color: #d9d9d9;
  height: 40vw;
  width: 50vw;
  position: fixed;
  top: 10%;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
#BolkowlinkCloseButton {
  top: 2vw;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 45vw;
  font-size: 3vw;
  color: #3b378c;
}
.aside-link:hover {
  opacity: 1;
}
.aside-link {
  opacity: 0.8;
}
aside {
  position: sticky;
  top: 0vw;

  height: 100vh;
  overflow: auto;
}
aside::-webkit-scrollbar {
  width: 0.5em; /* szerokość paska przewijania */
  background-color: #f5f5f5; /* kolor tła paska przewijania */
  height: 30vw;
}

aside::-webkit-scrollbar-thumb {
  background-color: #888; /* kolor paska przewijania */
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* kolor paska przewijania po najechaniu na niego kursorem */
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
/* div images */
#strefa-szkoly {
  background-image: url(../images/strefa-szkoły.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smaller-text {
  font-size: 4vw;
}
#strefa-sportu {
  background-image: url(../images/strefa-sportu.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-roznosci {
  background-image: url(../images/strefa-różności.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-nauki {
  background-image: url(../images/strefa-nauki.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-osobowosci {
  background-image: url(../images/strefa-osobowosci.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-techniczna {
  background-image: url(../images/strefa-techniczna.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-podstawowa {
  background-image: url(../images/strefa-podstawowa.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-miasta {
  background-image: url(../images/strefa-miasta.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-kultury {
  background-image: url(../images/strefa-kultury.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#strefa-rozrywki {
  background-image: url(../images/strefa-rozrywki.png);
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#our-team {
  width: 40vw;
  float: right;
  overflow: auto;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-bottom: 1vw;
}
.wrap-text {
  text-align: justify;
  font-family: "Myriad Pro Regular";
  margin: 2vw;
  font-size: 1.2vw;
}

.about-us-headers {
  margin-left: 2vw;
  font-size: 2vw;
  background-color: #3b378c;
  display: inline;
  border-radius: 35px;
  padding: 0.9vw;
  color: white;
  font-family: "Myriad Pro Condensed";
}
#section-container-news {
  margin-left: 8vw;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
}
.iframes {
  margin-bottom: 3vw;
  margin-right: 5vw;
}

@media (max-width: 1557px) {
  #section-container-news {
    margin-left: 22vw;
  }
}
@media (max-width: 1290px) {
  #section-container-news {
    margin-left: 17vw;
  }
}
@media (max-width: 960px) {
  #section-container-news {
    margin-left: 11vw;
  }
  aside {
    margin-left: -3vw;
  }
}
@media (max-width: 800px) {
  #section-container-news {
    margin-left: 6vw;
  }
}
@media (max-width: 700px) {
  #section-container-news {
    margin-left: 2vw;
  }
}
